.App {
  font-size: 14px;
  min-height: 100vh;
}

.App-left {
  width: 20%;
  height: 100%;
  border: 1px solid blue;
}

.calendar {
  display: flex;
  width: 180px;
  height: 130px;
  border: 1px solid lightblue;
  flex-direction: column;
  margin: 10px;
}

.calendar-year {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.calendar-year-title {
  display: flex;
  flex: 1;
  height: 30px;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.calendar-title {
  text-align: center;
  font-size: 12px;
}

.calendar-week-t-c {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.calendar-week-t {
  display: flex;
  flex: 1;
  font-size: 12px;
}

.calendar-week-d {
  display: flex;
  flex: 1;
  font-size: 12px;
  border: 1px solid lightgray;
  text-align: center;
}

.calendar-week-d-empty {
  display: flex;
  flex: 1;
  font-size: 12px;
  border: 1px solid rgb(228, 228, 228);
}
